@import "./reset";
@import "../config";
@import "../mixins/typography";

a {
  color: inherit;
  text-decoration: inherit;
}

b {
  @include bold();
}

* {
  font-family: var(--font-copy);
}

body {
  min-height: 100vh;
  background-color: var(--background-secondary);
  color: var(--text-primary);
}
