$spacing: (
  paddingDynamic: clamp(.5rem, 5vw, 1.5rem),
  paddingDynamicLarge: clamp(1.5rem, 10vw, 8rem),
  padding: 1rem,
  borderRadius: 7px,
  borderWidth: 1px,
  siteMaxWidth: 1600px,
  navHeight: 82px,
  footerHeight: 213px,
);
