@import '../styles/config/';
@import '../styles/mixins/content-max-width';
@import '../styles/mixins/typography';
@import '../styles/mixins/grid';

.contact {
  padding-bottom: 5vh;

  &-email {
    font-size: 1.5rem;
    color: #0070f3;
    text-decoration: underline;

  }
}
