@import '../styles/config/';
@import '../styles/mixins/content-max-width';
@import '../styles/mixins/typography';
@import '../styles/mixins/grid';

.contact {
  display: flex;
  flex-direction: column;
  gap: map-get($map: $spacing, $key: padding);

  &-email {
    font-size: 1.5rem;
    color: #0070f3;
    text-decoration: none;

  }
}
