@import '../../styles/config/';
@import "../../styles/mixins/typography";
@import "../../styles/mixins/content-max-width";
@import "../../styles/mixins/link";
@import "../../styles/mixins/box-shadow";
@import "../../styles/mixins/grid";

.card {
  position: relative;
  border-radius: map-get($map: $spacing, $key: borderRadius);
  overflow: hidden;
  border: 1px solid var(--border);

  &-content {
    &-title {
      @include heading(small);
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: map-get($map: $spacing, $key: padding) / 2;

      span {
        left: -1rem;
        top: -1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        @include heading(small);
      }
    }

    &-description {
      @include copy(medium, false, true);
      margin-bottom: map-get($map: $spacing, $key: paddingDynamic);
    }

    &-copy {
      @include copy(base, false, true);
    }

    &-tags {
      margin-top: .75rem;
      display: flex;
      flex-direction: row;
      gap: map-get($map: $spacing, $key: padding) / 2;

      p {
        @include heading(tiny);
        padding: map-get($map: $spacing, $key: padding) / 2;
        border-radius: map-get($map: $spacing, $key: borderRadius);
        background-color: var(--text-primary);
        color: var(--background-secondary);
      }
    }
  }

  &--photo {
    height: 15rem;

    @include breakpoint(medium, min) {
      height: 30rem;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 10rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(var(--background-secondary-rgb), 0), rgba(var(--background-secondary-rgb), 1));
      width: 100%;
      padding: map-get($map: $spacing, $key: padding);
      color: var(--text-primary);

      @include breakpoint(medium, min) {
        min-height: 20rem;
      }

      &-title {
        @include heading();
      }
    }


  }

  &--text {
    display: flex;
    flex-direction: column;
    gap: map-get($map: $spacing, $key: padding) / 2;
    border-radius: map-get($map: $spacing, $key: borderRadius);
    background-color: 1px solid var(--background-secondary);
    border: 1px solid var(--border);
    padding: map-get($map: $spacing, $key: padding) * 2;

    .card-content-copy {
      margin-top: map-get($map: $spacing, $key: padding) / 2
    }
  }

  &--link {
    @include box-shadow(true);
  }
}
