@import '../../styles/config';
@import "../../styles/mixins/typography";
@import "../../styles/mixins/link";
@import "../../styles/mixins/grid";

.content {
  &-title {
    @include heading(heading);

    &--sub {
      @include heading();
    }
  }

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: map-get($map: $spacing, $key: padding);

    p {
      flex: 1;
      @include copy();
    }
  }

  &-contents {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: map-get($map: $spacing, $key: paddingDynamic);

    &-image {
      border-radius: map-get($map: $spacing, $key: borderRadius);
    }
  }
}
