@import '../../styles/config';
@import "../../styles/mixins/typography";
@import "../../styles/mixins/link";

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint(medium, min) {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  h1 {
    @include heading(header);
    margin-bottom: map-get($map: $spacing, $key: padding);
  }

  p {
    @include copy(large, false, true);
    margin-bottom: map-get($map: $spacing, $key: paddingDynamic);
  }

  button {
    width: auto;
    margin-right: auto;
  }

  a {
    width: auto;
    margin-right: auto;
  }
}
