@import '../styles/config/';
@import '../styles/mixins/content-max-width';
@import '../styles/mixins/link';
@import '../styles/mixins/typography';

.navigation {
  @include pageContentMaxWidth();
  padding: map-get($map: $spacing, $key: padding);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: map-get($map: $spacing, $key: padding);

  @include breakpoint(medium, min) {
    gap: 0;
    flex-direction: row;
  }

  &-logo {
    width: 3rem;
  }

  h1 {
    @include heading();
  }

  ul {
    display: flex;
    align-items: center;
    gap: map-get($map: $spacing, $key: padding) * 2;

    a {
      @include link();
    }
  }
}
