@import '../styles/config/';
@import "../styles/mixins/typography";
@import "../styles/mixins/content-max-width";
@import "../styles/mixins/link";
@import "../styles/mixins/box-shadow";
@import "../styles/mixins/grid";

.page {
  @include pageContentMaxWidth();

  display: flex;
  flex-direction: column;
  gap: map-get($map: $spacing, $key: paddingDynamicLarge);
}
